.blue-sky {
	color: #763AF8;
}
.blue-high {
	color: #66D9EF;
}
.blue-low {
	color: #4489D0;
}
.yellow-brown {
	color: #E6DB74;
}
.pink-purple {
	color: #CC32B0;
}
.pink-red {
	color: #F92672;
}
.pink-light {
	color: #FFA3DE;
}
.purple {
	color: #AE81FF;
}
.green-light {
	color: #AF9;
}
.green-flower {
	color: #A6E22E;
}
.gray-white {
	color: #EEE;
}
.orange {
	color: #FB7956;
}